<head>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/show.css">
    <script defer src="/scripts/forms.js" type="text/javascript"></script>
</head>

<style>
    body {
        background: rgba(251, 249, 235, 0.737);
        background: rgba(203, 203, 203, 0.737);
    }
</style>

<nav>
    <div class="edit_btns_container">
        <a href="/events"> <h3 class="nav_btn btn font">Back</h3> </a>
    </div>

    <h3 class="show page_title"> Add New Event </h3>
    <div class="dropdown">
        <button class="dropdown_btn btn nav_btn"><i class="fa-solid fa-chevron-down"></i></button>
        <div class="nav_menue">
            <a href="/bands" class="btn nav_btn">Bands</a>
            <a href="/events" class="btn nav_btn">Events</a>
            <a href="/venues" class="btn nav_btn">Venues</a>
        </div>
    </div>
</nav>



<form class="edit-form" action="/events" method="POST">
   
    <div class="form-group-container">

        <div class="form_subContainer subContainer_One">

            <!-- NAME -->
                <div class="edit-name form-group form-section">
                    <label for="name">Name</label>
                    <input type="text" class="form__input" id="name" name="name" placeholder="Band Name" required>
                    <span class="form__error">Sample Error Message</span>
                </div>

            <!-- FEATURED BANDS -->
                <div class="edit-featured_bands form-group form-section">
                    <label for="featured_bands">Featured Bands</label>

                    <div class="array_container">
                        <div class=" dynamic_input_container">
                            <input type="text" class="featured_bands_input form__input" id="featured_band" name="featured_bands" placeholder="add featured band">
                            <!-- <input type="text" class="featured_bands_input form__input" id="featured_bands.roles" name="featured_bands" placeholder="role"> -->
                            
                            <div class="minus_btn">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <div class="plus_btn">
                                <i class="fa-solid fa-plus"></i> 
                            </div>
                        </div>
                    </div>
                
                </div>

            <!-- DATE -->
                <div class="edit-date form-group form-section">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" >
                    <span class="form__error">Sample Error Message</span>
                </div>

            <!-- LOCATION -->
                <div class="edit-location form-group form-section">
                    <span class="form-section-title">Location</span>
                    
                    <label for="location.country">Country</label>
                    <input type="text" id="location-country" name="location.country" placeholder="country" class="form-text-input">

                    <label for="location.state">State</label>
                    <input type="text" id="location-state" name="location.state" placeholder="state" class="form-text-input">

                    <label for="location.city">City</label>
                    <input type="text" id="location-city" name="location.city" placeholder="city" class="form-text-input">
                </div>

            <!-- VENUE -->
                <div class="edit-venue form-group form-section">
                    <label for="venue">Venue:</label>
                    <input type="text" class="form__input" name="venue" placeholder="add venue">
                </div>
        </div>

        <div class="form_subContainer subContainer_Two">

            <!-- GENRES -->
                <div class="edit-genres form-group form-section">
                    <label class="genres" for="genres">Genres</label>
                    <div class="array_container">
                        <div class=" dynamic_input_container">
                            <input type="text" class="genres_input form__input" id="genres" name="genres" placeholder="add genre">
                            <div class="minus_btn">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <div class="plus_btn">
                                <i class="fa-solid fa-plus"></i> 
                            </div>
                        </div> 
                    </div>
                    <span class="form__error">Sample Error Message</span>
                </div>

            <!-- DESCRIPTION -->
                <div class="edit-description form-group form-section">
                    <label for="description">Description:</label>
                    <textarea type="text" id="description" placeholder="Tell us about the band"></textarea>
                </div>

            <!-- IMAGES -->
                <!-- <div class="edit-images form-group form-section">
                    <label class="genres" for="addImages">Add Images</label>
                    <div class="array_container">
                        <div class=" dynamic_input_container">
                            <input type="file" class="image_input form__input" id="addImages" name="images.main">
                            <input type="url" class="url_input form__input" id="addImages" name="images" placeholder="paste image url">
                        
                            <div class="minus_btn">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <div class="plus_btn">
                                <i class="fa-solid fa-plus"></i> 
                            </div>

                        </div>
                    </div>
                    <span class="form__error">Sample Error Message</span>
                </div> -->
            
                <div class="form_btn_container">
                <input type="submit" class="btn btn-primary"/>
                <a href="/events" class="btn btn-secondary">Cancel</a>
            </div>

        </div>
    </div>
</form>