:root {
    --primary: #cf4213;
    --secondary: #545251;
    --accent: #1eee;
    --dark: #1f1f1f;
    --light:#d8d7d7;
    --black_shadow: 0 1px 5px #292929;
    --color_shadow: 0 1px 10px #e8570e;
}

html {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
}

nav {
    display: inline-flex;
    width: 99%;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);

    justify-content: space-between;
    font-size: larger;
    padding: 5px;
    margin-bottom: 1.5rem;
    border: 4px outset var(--dark);
}

.dropdown_btn {
    display: none;
}

body {
    background: var(--light);
    background: url(https://edm.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTc0MjYzODMyMzQyOTY0MDky/1-3.jpg);
    margin: 30px 50px;
    line-height: 1.4em;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 4px inset black;
}
.btn:hover{
    /* background: var(--light); */
    color: var(--accent);
    border: 4px outset var(--primary);
}

.nav_btn:hover {
    border: 4px outset var(--accent)
}

.section {
    display: flex;
    flex-wrap: wrap;

    /* display: grid; */
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem 2rem;
    border: 10px double var(--primary);
    border: 10px double var(--secondary);
    background: var(--dark);
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    text-align: center;
    max-height: 450px;
    max-width: 300px;
    min-width: 300px;
    background: black;
    padding-bottom: 0;
    box-shadow: var(--color_shadow);
    position:inherit;
    border-radius: 10px;
    border: 4px outset var(--primary);
}

.card_inner_container {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-height: 400px;
    max-width: 300px;
    min-width: 300px;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    position: relative;
}

.venue_card {
    border-color: rgb(201, 46, 201);
}
.event_card {
    border-color: rgb(7, 201, 0);
}

.card:hover, .card:hover * .card_frame {
    border: 4px solid var(--accent);
    box-shadow: none;
}

.card_frame {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    /* padding: 4px 4px; */
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    align-self: center;
    border: 4px outset aliceblue;
    border-radius: 10px;
    box-shadow: var(--color_shadow);
}
.card img {
    /* background-size: cover; */
    object-fit: cover;
    max-height: 250px;
    /* max-width:90%; */


}

.card_name {
    color: var(--light);
    font-size: 1.5rem;
    width: 100%;
}

.card_btns_container {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5rem;
    justify-self: flex-end;
    max-height: 100%;
    margin: 0 auto;
}


/* ------- MEDIA QUERIES ------- */
/* ------- MEDIA QUERIES ------- */


@media (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* ------ NAV ------ */

    nav {
        max-width: 100%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .nav_menue {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .dropdown_btn {
        display: block;
        margin-right: 10px;
    }
    
    .dropdown:hover .nav_menue {
        display: flex;
        flex-direction: column;
        justify-content: left;
        /* flex-direction: column; */
    }

    .nav_menue a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_menue a:hover {
        color: var(--accent);
        border: 4px solid black
    }

    /* ------ MAIN SECTION ------ */

    .section {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* margin-right: 10px; */
    }

}