<head>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>

<h2 class="form__title">EDIT <%= name %></h2>

<form class="edit-form" action="/bands/<%= _id %>/?_method=put" method="POST">
    <div class="form-group-container">

        <!-- Band Name -->
        <div class="edit-name form-group form-section">
            <label for="name">Name</label>
            <input type="text" class="form__input form__input--error" id="name" name="name" placeholder="Enter band name">
            <span class="form__error">Sample Error Message</span>
        </div>

        <!-- ORIGIN -->
        <div class="edit-location form-group form-section">
            <span class="form-section-title">Origin</span>

            <label class="origin" for="orgin.country">Country</label>
            <input type="text" class="origin form__input form__input--error" id="origin.country" name="origin.country" placeholder="Country of Origin">
            <span class="form__error">Sample Error Message</span>

            <label class="origin" for="orgin.state">State</label>
            <input type="text" class="origin form__input form__input--error" id="origin.state" name="origin.state" placeholder="State of Origin">
            <span class="form__error">Sample Error Message</span>
            
            <label class="origin" for="orgin.city">City</label>
            <input type="text" class="origin form__input form__input--error" id="origin.city" name="origin.city" placeholder="City of Origin">
            <span class="form__error">Sample Error Message</span>

        </div>

        <!-- MEMBERS (array) -->
        <!-- <div class="edit-members form-group form-section">
            <span>Members</span>
            <label for="members.name">Name</label>
            <input type="text" name="members.name">

            <label for="members.roles[0]">Roles</label>
            <input type="select" name="members.roles[0]" multiple list="roles">
            <datalist id="roles">
                <option>vocals</option>
                <option>rhythm guitar</option>
                <option>bass guitar</option>
                <option>drums</option>
                <option>percussion</option>
            </datalist>
        </div> -->

        <!-- BIOGRAPHY -->
        <div class="edit-description form-group form-section">
            <label for="biography">Bio</label>
            <input type="text" class="form__input form__input--error" id="biography" name="biography" placeholder="What should the fans to know about the band?">
        </div>
        <!-- SONGS (array) -->
        <div class="edit-songs form-group form-section">

        </div>
        <!-- TOURING (boolean) -->
        <!-- <div class="edit-touring form-group form-section">
            <label for="touring">Touring</label>
            
            <span>yes</span>
            <input type="radio" name="touring" value="true">
            <span>no</span>
            <input type="radio" name="touring" value="false">
        </div> -->
        <!-- GENRES (array) -->
        <div class="edit-genres form-group form-section">

        </div>
        <!-- TAGS (array) -->
        <div class="edit-tags form-group form-section">

        </div>
        <!-- Images -->
        <div class="edit-images form-group form-section">

        </div>


        <input type="submit" class="btn btn-primary"/>
        <a href="/bands" class="btn btn-secondary">Cancel</a>

    </div>

</form>