<head>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>

    <nav>
        <a href="/bands"> <h3 class="page_title font">Back</h3> </a>
        <div class="dropdown">
            <button class="dropdown_btn btn nav_btn"><i class="fa-solid fa-chevron-down"></i></button>
            <div class="nav_menue">
                <a href="/events" class="btn nav_btn">Events</a>
                <a href="/venues" class="btn nav_btn">Venues</a>
                <a href="/bands/new" class="btn nav_btn">Add New Band</a>
            </div>
        </div>
    </nav>

<form action="/bands" method="POST">
    <div class="form-group-container">
        
        <!-- Band Name -->
        <div class="form-group name-field">
            <label for="name">Band Name:</label>
            <input type="text" id="band_name" name="name" class="form-control"/>
        </div>
        <!-- Origin -->
        <div class="form-group location-field>
            <span>Origins</span>
            <label for="origin.country">Country</label>
            <input type="text" id="country" name="origin.country" class="form-content">
            <label for="origin.state">State</label>
            <input type="text" id="state" name="origin.state" class="form-content">
            <label for="origin.city">City</label>
            <input type="text" id="city" name="origin.city" class="form-content">
        </div>
        <!-- Members (array) -->
        <!-- <div>
            <span>Members</span>
            <label for="members[0].name">Name</label>
            <input type="text" id="members.name" name="members[0].name" class="form-content">
            <label for="members[0].roles">roles</label>
            <input type="text" id="members.roles" name="members[0].roles" class="form-content">
        </div> -->
        <!-- Biography -->
        <div class="form-group bio-field">
            <label for="biography">Bio:</label>
            <textarea type="text" id="biography" name="biography"
                placeholder="Tell us about the band!">
            </textarea>
        </div>
        <!-- Songs (array) -->
        <div class="form-group songs-field">
            <label for="songs">Songs</label>
            <input type="text" id="songs" name="songs" class="form-content">
        </div>
        <!-- Touring (boolean) -->
        <!-- <div class="touring form-group">
            <span>Touring</span>
            <label for="touring">Yes</label>
            <input type="radio" id="yes" name="touring" value="true">
            <label for="touring">No</label>
            <input type="radio" id="no" name="touring" value="false">
        </div> -->
        <!-- Genres (array) -->
        <div class="genres-field form-group">
            <label for="genres">New Genre</label>
            <input type="text" name="genres" class="form-content">
        </div>
        <!-- Tags (array) -->
        <div class="tags-field form-group">
            <label for="tags">New Tag</label>
            <input type="text" name="tags" class="form-content">
        </div>
        <!-- Images -->


        <input type="submit" class="btn btn-primary"/>
        <a href="/bands" class="btn btn-secondary">Cancel</a>
        
    </div>
</form>
